<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fomagic.module.sys.dao.SysRoleDao">
	<resultMap type="com.fomagic.module.sys.entity.SysRole" id="SysRoleMap">
		<result property="roleId" column="role_id" />
		<result property="roleName" column="role_name" />
		<result property="remark" column="remark"/>
		<result property="createUserId" column="create_user_id" />
		<result property="createTime" column="create_time"/>
	</resultMap>
	
	<select id="listRoleId" resultType="long">
		SELECT
			role_id
		FROM
			sys_role
		WHERE
			create_user_id = #{createUserId} 
	</select>
	
	<select id="getByRoleId" resultMap="SysRoleMap">
		select * from sys_role where role_id = #{value}
	</select>
	
	<select id="listRole" resultMap="SysRoleMap">
		select * from sys_role 
		<where>
			<if test="searchName != null and searchName.trim() != ''">
				and `role_name` like concat('%',#{searchName},'%') 
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId} 
			</if>
		</where>
		<choose>
			<when test="sidx != null and sidx.trim() !=''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by role_id asc
			</otherwise>
		</choose>
	</select>
	
	<select id="countRole" resultType="int">
		select count(*) from sys_role
		<where>
			<if test="roleName != null and roleName.trim() !=''">
				and `role_name` like concat('%',#{roleName},'%')
			</if>
			<if test="createUserId !=null">
				and create_user_id = #{createUserId}
			</if>
		</where>
	</select>
	
	
	<insert id="saveRole" parameterType="com.fomagic.module.sys.entity.SysRole" useGeneratedKeys="true" keyProperty="roleId">
		insert into sys_role
		(
			`role_id`, 
			`role_name`, 
			`remark`,
			`create_user_id`,
			`create_time`
		)
		values
		(
			#{roleId}, 
			#{roleName}, 
			#{remark},
			#{createUserId},
			#{createTime}
		)
	</insert>
	
	<update id="updateRole" parameterType="com.fomagic.module.sys.entity.SysRole">
		update sys_role 
		<set> 
			<if test="roleName != null">`role_name` = #{roleName}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where role_id = #{roleId}
	</update>
	
	<delete id="deleteBatchByRoleIds">
		delete from sys_role where role_id in 
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
		;
		delete from sys_role_menu where role_id in 
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
		;
		delete from sys_user_role where role_id in 
		<foreach item="roleId" collection="array" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</delete>
	
</mapper>